body {
  margin: 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 42vw;
  min-width: 8em;
}

.clickable {
  border: 1pt groove black;
  max-width: 35vw;
  min-width: 8em;
  margin-top: 10px;
  padding-left: 4.5vw;
  padding: 1.5vw  2vw 1.5vw 4.5vw;
  background-color: blanchedalmond;
}
